<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Goals</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="navbar">
        <div class="nav-container">
            <div class="logo">
                <img src="/static/logo.png" style="border-radius: 50%;">
                <span>Edit Goal</span>
            </div>

            <nav>
                    <a href="/athlete/{{ athlete_id }}">back</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">

        <section class="card">
        
        <h2>All Goals entries</h2>
        
        {% for n in logs %}
            <div class="multi-box">
            
                <p><b>goal: {{ n[1] }} </b>Progression: {{ n[3] }} / {{ n[2] }}</p>
                <p>
                    Start: {{ n[4] }}  |
                    End: {{ n[5] }} |
                </p>
            
                <a href="/edit/goals/single/{{ n[0] }}">✏️ Edit</a>
            
            </div>
            {% endfor %}

        </section>

    </main>

</body>
</html>