<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Nutrition</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="navbar">
        <div class="nav-container">
            <div class="logo">
                <img src="/static/logo.png" style="border-radius: 50%;">
                <span>Edit Training</span>
            </div>

            <nav>
                    <a href="/athlete/{{ athlete_id }}">back</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">

        <section class="card">

            <h2>All recovery Entries</h2>

            {% for n in logs %}
            <div class="multi-box">
            
                <p><b>{{ n[1] }} </b> | {{ n[5] }}</p>
                <p>
                    Duration: {{ n[2] }}  |
                    Intensity: {{ n[3] }} |
                    Cal burned: {{ n[4] }} 
                </p>
            
                <a href="/edit/training/single/{{ n[0] }}">✏️ Edit</a>
            
            </div>
            {% endfor %}
            
        </section>
    </main>

</body>
</html>