<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Athlete Dashboard</title>

    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header class="navbar">
    <div class="nav-container">
        <div class="logo">
            <img src="/static/logo.png">
            <span>Dashboard</span>
            {% if current_user.is_authenticated %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </div>

        <nav>
            <a target="_blank" href="https://github.com/BSDSA-ISU/InormationManagement-project">GitHub</a>
            <a href="/">Home</a>
            {% if current_user.is_authenticated %}
                <a href="/add">➕ Add Athlete</a>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container">

    <section class="hero">
        <h1>Welcome to the Athlete System</h1>
        <p>Track. Improve. Dominate.</p>

        <img class="mascot kaguya Houraisan" src="/static/Kaguya.gif">
    </section>

    <section class="card">
        <h2>👥 Athletes</h2>
        <a href="/athletes">View Athlete List</a>
    </section>

    <section class="card">
        <h2>Site made by a ilocano student in Isabela</h2>
        </form>
    </section>

</main>

<footer>
    <small>
        Copyright (c) 2026 Cyrus Troy and BSDSA-ISU <br>
        Licensed under the MIT License
        <br>
        <br>

        Touhou Project © Team Shanghai Alice (ZUN). Fan content mascot is used for educational purposes only.
    </small>
</footer>

</body>
</html>
